<div class="container">
    <div class="well btf-modal">
        <div class="form-group">
            <label>Name</label>
            <input type="text" ng-value="customer_name" disabled>
        </div>
        <div class="form-group">
            <label>Phone number</label>
            <input type="text" ng-value="phone" disabled>
        </div>
        <div class="form-group">
            <label>Pickup address</label>
            <input type="text" ng-value="pickup_address" disabled>
        </div>
        <b><h1><font color=red>Cancelled. Wait for new new instructions.</font></h1></b>
    </div>
</div>